@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
body {
    font-family: "Inter", sans-serif;
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    box-sizing: border-box;
}

#wrap {
    max-width: 85%;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    h1 {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 1.3rem;
        span {
            display: inline-block;
        }
    }
    span {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 5px 0;
    }
}

.alphabet ul {
    display: flex;
    column-gap: 5px;
    padding: 10px 0;
    margin: 0;
    li {
        list-style: none;
        flex: 1 1 auto;
        display: block;
        width: 40px;
        height: 40px;
        background-color: green;
        border-radius: 50%;
        line-height: 40px;
        color: #fff;
        text-align: center;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background-color: blueviolet;
            transform: scale(1.1);
        }
    }
}

.alphabet ul li.highLight {
    background-color: blueviolet;
}

#laoder {
    width: 100%;
    background: url("loader.svg") center no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100vh;
}

.headingCenter {
    text-align: center;
    color: red;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 15px 0;
}

.mealsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px 0px;
    .meal {
        img {
            width: 100%;
             cursor: pointer;
        }
    }
}

.searchGrid {
    grid-template-columns: repeat(4, 1fr);
}

.popUp {
    width: 95%;
    height: 95%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 2.5vh auto;
    background-color: #fff;
    &::before {
        content: "";
        display: block;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.85);
    }
    img {
        width: 100%;
        position: relative;
        height: 100%;
        z-index: 5;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        object-fit: cover;
      
    }
    span {
        display: block;
        padding: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-sizing: border-box;
        color: #fff;
        text-align: center;
        position: absolute;
        top: 30px;
        font-weight: bold;
        right: 50px;
        content: "x";
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        z-index: 6;
        line-height: 30px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}

.searchMeals {
    width: 60%;
    padding: 10px 0;
    margin: 0 auto;
    * {
        box-sizing: border-box;
    }
    form {
        display: grid;
        grid-template-columns: repeat(12, auto);
        margin-bottom: 15px;
        input[type="text"] {
            padding: 12.5px;
            margin: 0;
            border: 1px solid #ccc;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
            border-radius: 0;
            grid-column: 1/10;
        }
        input[type="submit"] {
            width: auto;
            padding: 12.5px;
            margin: 0;
            background-color: green;
            color: #fff;
            border: none;
            box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
            border-radius: 0;
            grid-column: 10/-1;
        }
    }
    .searchResults {
        width: 50%;
        background-color: rgba(0, 0, 0, 0.1);
        padding: 5px 15px;
        font-size: 0.85rem;
        margin: 15px auto;
    }
}

div.itemResult {
    img {
        width: 100%;
        max-width: 100%;
        background-blend-mode: overlay(#000, 10%);
    }
    h1 {
        text-align-last: left;
        font-size: 1.1rem !important;
    }
    span {
        height: 35px;
        overflow: hidden;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    a {
        display: block;
        width: 150px;
        padding: 10px;
        background-color: orange;
        border-radius: 50px;
        margin: 10px 0;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }
}